<div ng-include="'/app/templates/dashboard/header.html'"></div>
<div class="container p-2">
  <form
    class="row justify-content-center align-items-end m-2"
    ng-submit="submit()"
  >
    <!-- <div class="col-12">
      <label for="inputProductImg" class="visually">Imagen</label>
      <input
        type="file"
        class="form-control"
        id="inputProductImg"
        ng-model="product.foto"
        ng-change="onFileSelected(this)"
      />
    </div> -->
    <div class="col-12">
      <label for="inputProductNombre" class="visually">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="inputProductNombre"
        placeholder="Producto"
        required
        ng-model="product.nombre"
      />
    </div>
    <div class="col-12">
      <label for="inputProductStock" class="visually">Stock</label>
      <input
        type="number"
        min="0"
        step="1"
        class="form-control"
        id="inputProductStock"
        placeholder="Stock"
        required
        ng-model="product.stock"
      />
    </div>
    <div class="col-12">
      <label for="inputProductPrecio" class="visually">Precio</label>
      <input
        type="number"
        min="0"
        step="1"
        class="form-control"
        id="inputProductPrecio"
        placeholder="Precio"
        required
        ng-model="product.precio"
      />
    </div>
    <div class="col-12">
      <label for="inputProductCategory" class="visually">Categoria</label>
      <select
        ng-model="product.categoria"
        id="inputProductCategory"
        class="form-control"
        required
      >
        <option ng-repeat="category in categories" value="{{category.id}}">
          {{category.nombre}}
        </option>
      </select>
    </div>
    <button
      type="submit"
      class="col-12 col-sm-8 col-md-6 col-lg-4 btn btn-success m-2"
    >
      Crear
    </button>
  </form>
</div>
